{{ define "filelist.page.tmpl" }}

{{ template "header" .}}

   <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>mAirlist Feeder</h1>
                <h2>Files in List</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                          <th scope="col">Path</th>
                          <th scope="col">Folder Date</th>
                          <th scope="col">Start Time</th>
                          <th scope="col">End Time</th>
                          <th scope="col">Duration (min)</th>
                          <th scope="col">Modification Time</th>
                          <th scope="col">Scan Time</th>
                          <th scope="col">Rule Matched</th>
                          <th scope="col">EventId</th>
                          <th scope="col">CalCMS (from, enriched, title)</th>
                          <th scope="col">Technical Metadata (Bitrate, Format)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .files }}
                        <tr>
                          <td>{{ .Path }}</td>
                          <td>{{ .FolderDate }}</td>
                          <td>{{ .StartTime }}</td>
                          <td>{{ .EndTime }}</td>
                          <td>{{ .Duration }}</td>
                          <td>{{ .ModTime }}</td>
                          <td>{{ .ScanTime }}</td>
                          <td>{{ .RuleMatched }}</td>
                          {{ if .EventLinkAvail }}
                            <td><a href="{{ .EventIdLink }}" target="_blank" rel="noopener noreferrer">{{ .EventId }}</a></td>
                          {{ else }}
                            <td>"N/A"</td>
                          {{ end }}
                          <td>{{ .CalCmsInfo }}</td>
                          <td>{{ .TechMd }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{ template "footer" .}}

{{ end }}
