{{ define "footer" }}

    <footer class="text-center text-lg-start text-muted fixed-bottom">
    </footer>

    <script src="/static/vendor/bootstrap/bootstrap.bundle.min.js"></script>

    {{block "js" .}}

    {{end}}

    <script>
      function submitForm(button_id) {
        const statusField = document.getElementById("status");
        const hourField = document.getElementById("hour");
        statusField.value = "Sending request..."
        var http = new XMLHttpRequest();
        http.open("POST", "/actions", true);
        http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        var params = "action=" + button_id + "&hour=" + hourField.value + "&note=fromUi"
        http.send(params);
        setTimeout(function(){
            location.reload();
            statusField.value = "Request sent."
        }, 500);
        }
    </script>

    </body>

    </html>
{{ end }}
