{{ define "status.page.tmpl" }}

{{ template "header" .}}

   <div class="container">
        <div class="row">
            <div class="col">
                <h1>mAirlist Feeder</h1>
                <h2>Status</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                          <th scope="col" style="width: 50%">Variable</th>
                          <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Root Folder for crawl</td>
                          <td>{{ .configdata.RootFolder }}</td>
                        </tr>
                        <tr>
                          <td>File Extensions to include</td>
                          <td>{{ .configdata.FileExtensions }}</td>
                        </tr>
                        <tr>
                          <td>Crawl Cycle in minutes</td>
                          <td>{{ .configdata.CycleTime }}</td>
                        </tr>
                        <tr>
                          <td>Playlist Export Folder</td>
                          <td>{{ .configdata.ExportFolder }}</td>
                        </tr>
                        <tr>
                          <td>How many minutes short and still accepted?</td>
                          <td>{{ .configdata.ShortAllowance }}</td>
                        </tr>
                        <tr>
                          <td>How many minutes long and still accepted?</td>
                          <td>{{ .configdata.LongAllowance }}</td>
                        </tr>
                        <tr>
                          <td>Crawl runs executed</td>
                          <td>{{ .configdata.CrawlRunNumber }}</td>
                        </tr>
                        <tr>
                          <td>Last Crawl Run</td>
                          <td>{{ .configdata.LastCrawlDate }}</td>
                        </tr>
                        <tr>
                          <td>Number of files in list</td>
                          <td>{{ .configdata.FilesInList }}</td>
                        </tr>
                        <tr>
                          <td>Last Export Date</td>
                          <td>{{ .configdata.LastExportDate }}</td>
                        </tr>
                        <tr>
                          <td>Last file exported</td>
                          <td>{{ .configdata.LastExportFileName }}</td>
                        </tr>
                        <tr>
                          <td>Crawl process running</td>
                          <td>{{ .configdata.CrawlRunning }}</td>
                        </tr>
                        <tr>
                          <td>Export process running</td>
                          <td>{{ .configdata.ExportRunning }}</td>
                        </tr>
                        <tr>
                          <td>Clean-up process running</td>
                          <td>{{ .configdata.CleanRunning }}</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Server</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Host</td>
                            <td>{{ .configdata.ServerHost }}</td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td>{{ .configdata.ServerPort }}</td>
                        </tr>
                        <tr>
                            <td>TLS Port</td>
                            <td>{{ .configdata.ServerTlsPort }}</td>
                        </tr>
                        <tr>
                            <td>Graceful Shutdown Time</td>
                            <td>{{ .configdata.ServerGracefulShutdownTime }}</td>
                        </tr>
                        <tr>
                            <td>Use TLS</td>
                            <td>{{ .configdata.ServerUseTls }}</td>
                        </tr>
                        <tr>
                            <td>Certificate File</td>
                            <td>{{ .configdata.ServerCertFile }}</td>
                        </tr>
                        <tr>
                            <td>Key File</td>
                            <td>{{ .configdata.ServerKeyFile }}</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Miscellaneous</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Start Date</td>
                            <td>{{ .configdata.StartDate }}</td>
                        </tr>
                        <tr>
                            <td>Gin-Gonic Mode</td>
                            <td>{{ .configdata.GinMode }}</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>

{{ template "footer" .}}

{{ end }}
